body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.block1{
    background-color: grey;    
}

.block2{
    background-color: cornflowerblue;
}

.block3{
    background-color: teal;
}
/* Index style /* 




/* contact styles */




/* about styles */ 




/* product page */





/* founder page */ 


